.MapComponent {
  position: relative;
  height: 100vh;
  width: 100vw;
  .mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 64px;
    bottom: 0;
  }

  .map-left-side-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    z-index: 100;
    background-color: transparent;
    display: flex;

    .map-auth-container {
      margin-right: 1rem;
      margin-top: 1rem;
      display: flex;
      height: fit-content;

      .user-profile-blockie-icon {
        height: 42px;
        width: 42px;
        border-radius: 50%;
        border: 2px solid var(--secondaryColor);
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          border: 2px solid var(--white);
        }
      }

      .login-button {
        background: var(--white);
        text-decoration: none;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.12);
        color: var(--secondaryColor);
        font-size: 16px;
        font-weight: 600;
        border-radius: 24px;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--secondaryColor);
        outline: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-left: 1rem;
        width: 104px;

        &:hover {
          background: var(--primaryDisabled);
          border: 2px solid var(--primaryDisabled);
          color: var(--white);
        }

        &:disabled {
          background: #040c34;
          cursor: not-allowed;
        }
      }

      .signup-button {
        background: var(--secondaryColor);
        text-decoration: none;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.12);
        color: var(--white);
        font-size: 16px;
        font-weight: 600;
        border-radius: 24px;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--secondaryColor);
        outline: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-left: 1rem;
        width: 104px;

        &:hover {
          background: var(--primaryDisabled);
          border: 2px solid var(--primaryDisabled);
        }

        &:disabled {
          background: #040c34;
          cursor: not-allowed;
        }
      }
    }
  }

  .map-side-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 64px;
    z-index: 100;
    background-color: var(--white);
    display: flex;
    flex-direction: column;

    .map-side-bar-item {
      padding: 1rem;
      font-size: 20px;
      color: #1b2737;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in;
      cursor: pointer;

      &:hover {
        background-color: var(--secondaryColor);
      }

      .wallet-blockie {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border: 2px solid var(--white);
        cursor: pointer;
      }
    }

    .side-bar-flex-total {
      flex: 1;
    }
  }

  .map-search-container {
    position: absolute;
    top: 0.5rem;
    left: 84px;
    z-index: 100;
    background-color: transparent;
    display: flex;
    flex-direction: column;

    .map-search-input-container {
      width: 380px;
      padding: 10px 12px;
      border-radius: 4px;
      border: 1px solid var(--grey2Color);
      display: flex;
      align-items: center;
      background-color: var(--white);
      .map-search-icon-container {
        display: flex;
        margin-right: 8px;
        margin-bottom: 3px;
        color: var(--grey4Color);
      }
      .map-search-input {
        font-size: 18px;
        outline: none;
        background-color: transparent;
        border: 0;
        flex: 1;
        margin-right: 8px;
      }

      .map-search-close {
        display: flex;
        padding-left: 8px;
        border-left: 1px solid var(--grey2Color);
        height: 23px;
        align-items: center;
        cursor: pointer;
      }
    }

    .map-search-list-container {
      background-color: var(--white);
      border-radius: 4px;
      width: 406px;

      ul {
        padding: 0px;
        margin: 0;
        li {
          list-style: none;
          padding: 6px 12px;
          border-radius: 4px;
          color: var(--grey4Color);
          cursor: pointer;
          &:hover {
            background-color: var(--grey1Color);
          }
        }
      }
    }
  }

  .map-location-bottom-container {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1 !important;
    .map-location-details {
      margin: 12px;
      background-color: #081218;
      border: 1px solid #1b2737;
      color: #ffffff;
      padding: 6px;
      font-weight: 500;
      border-radius: 24px;

      .map-location-inner {
        display: flex;
        align-items: center;
        padding: 4px 12px;

        .map-location-item {
          margin-right: 0.5rem;
          font-size: 18px;
          .map-location-superscript {
            font-size: 12px;
            text-transform: uppercase;
            vertical-align: top;
            font-style: italic;
            white-space: nowrap;
            font-weight: 700;
          }
        }
      }
    }

    .map-location-actions {
      margin: 12px;
      background-color: #081218;
      border: 1px solid #1b2737;
      color: #ffffff;
      padding: 6px;
      font-weight: 500;
      border-radius: 24px;
      display: flex;
      align-items: center;
      padding: 4px 1rem;

      .map-location-action-item {
        margin-right: 1rem;
        font-size: 20px;
        display: flex;
        cursor: pointer;

        &:nth-last-child(1) {
          margin-right: 0 !important;
        }
      }
    }

    .add-poi-mode-actions {
      margin: 12px;
      background-color: #081218;
      border: 1px solid #1b2737;
      color: #ffffff;
      padding: 6px;
      font-weight: 500;
      border-radius: 24px;
      display: flex;
      align-items: center;
      padding: 4px 1rem;
      width: 210px;
      z-index: 9990;

      .add-poi-title {
        flex: 1;
        font-size: 15px;
      }

      .add-poi-switch {
        display: flex;
      }
    }
  }
}
